.one
{
	color:green;
	background-color: #CDA891;
}
.two
{
	color:red;
	background-color: #4452CD;
}
.three
{

	color:yellow;
	background-color: #C0CD34;
}
.four
{
	color:blue;
	background-color: #CD6000;
}
table 
{
	border-color: black;

	height: 500px;
	width: 1000px;



}
.change
{
	color: orange;
}
th
{
	background-color: #CD872C;
}